
services:
  mcp_weather:
    build: ./mcp_weather
    container_name: mcp_weather
    ports:
      - "8001:8001"
    restart: unless-stopped
    env_file:
      - .env

  vllm:
    image: vllm/vllm-openai:latest
    container_name: vllm-server
    ipc: host
    ports:
      - "8000:8000"
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    command: >
      --model Qwen/Qwen3-1.7B
      --port 8000
      --max-model-len 8192
      --enable-auto-tool-choice
      --tool-call-parser hermes
      --gpu-memory-utilization 0.85